<!DOCTYPE html>
<html>
    <head>
        <title>Demo Truper</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link href="css/videojuegos.css" rel="stylesheet">
    </head>
    <body>

       


        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:href="@{/AltaDeAlmacen}" src="imagenes/icono.png" alt="TRUPER" width="30" height="24" class="d-inline-block align-text-top">
                TRUPER 
                </a>
                
            </div>
        </nav>
        

        <div class="container">

            <div class="row">

                <div class="col-4 text-center vj-destacados">
                    <div class="card" style="width: 18rem;">
                        <img src="imagenes/almacenes.png" class="card-img-top" alt="...">
                        <div class="card-body">   
                            <h5 class="card-title">Alta de Almacen</h5>
                            <p class="card-text">Forma para el alta de nuevos almacenes.</p>
                            <a th:href="@{/AltaDeAlmacen}" class="btn btn-primary">Ir al formulario</a>
                        </div>
                    </div>
                </div>

                <div class="col-4 text-center vj-destacados">
                    <div class="card" style="width: 18rem;">
                        <img src="imagenes/productos.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Alta de Producto</h5>
                            <p class="card-text">Forma para dar de alta nuevos Productos.</p>
                            <a href="#" class="btn btn-primary">Ir al formulario</a>
                        </div>
                    </div>
                </div>


                <div class="col-4 text-center vj-destacados">
                    <div class="card" style="width: 18rem;">
                        <img src="imagenes/ordenes.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Alta de Orden</h5>
                            <p class="card-text">Forma para dar de alta una nueva Orden.</p>
                            <a href="#" class="btn btn-primary">Ir al formulario</a>
                        </div>
                    </div>
                </div>





            </div>        
        </div>



    </body>
</html>
